h1 {
    text-align: center;
    color: white;
    background-color: #73777F;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}

body{
    background-image: url('background.jpg');
    background-size: 250px 250px;
}

#canvas-container {
    height: 100%;
    width: 100%;
    text-align:center;
}

button{
    margin-top: 40px;
    margin-left: 100px;
    background-color: darkcyan;
    padding: 15px 10px 15px 10px;
    border-radius: 25px;
    border: none;
}

#iframe_display{
    height: 100%;
    aspect-ratio: 1/1;
    border: none;
}